@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans HK';
}

body {
    background-color: white;
}

.container {
    background-color: rgb(238, 243, 248);
    width: 500px;
    height: 500px;
    margin: 100px auto;
}

.container .line {
    width: 100%;
    height: 10px;
    background-color: #1b7ced;
    border-radius: 5px 5px 0 0;
}

.container .content {
    border-radius: 5px;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .top {
    margin-top: 50px;
    text-align: center;
}

.container .top .title {
    color: #616161;
}

.container .top .rateNum {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
}

.container .input-section {
    width: 100%;
    margin: 60px 0 0;
}

.container .input-section input {
    width: 312px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    outline: none;
    cursor: pointer;
}

.container .exchange-section {
    width: 312px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: centers;
}

.container .exchange-section .from-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .exchange-section .from-sec p,
.container .exchange-section .to-sec p {
    font-size: 12px;
    color: #616161;
    margin: 5px 0;
}

.container .exchange-section .from-sec select,
.container .exchange-section .to-sec select {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #cecccc;
    background: transparent;
    outline: none;
    padding: 0 5px;
    border-radius: 5px;
}

.container .exchange-section .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .exchange-section .icon i {
    margin-top: 30px;
}

.container footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 60px;
}

.container footer button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    background: #1b7ced;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}